<%- include("partials/header") -%>

<div class="box" id="heading">
  <h1><%= Today%></h1>
</div>

<div class="home">
  <h1>What's new today!👋</h1>

  <p class="newpost">
    <%= startingContent%><a href="/compose"
      ><i class="fa-brands fa-blogger"></i>Add a New Post!<i
        class="fa-brands fa-blogger"
      ></i
    ></a>
  </p>

  <hr />

  <% posts.forEach(function(post){ %>

  <h1><%=post.title%></h1>

  <p>
    <%=post.content%>
    <a href="/posts/<%=post._id%>">Read More</a>
  </p>

  <% }) %>
</div>

<%- include("partials/footer") -%>
